{
  "env": {
    "node": true,
    "browser": false,
    "builtin": true,
    "es6": false
  },
  "rules": {
    "array-bracket-spacing": [2, "never"],
    "arrow-body-style": 0,
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
    "arrow-spacing": [2, { "before": true, "after": true }],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "camelcase": 2,
    "comma-spacing": [2, { "before": false, "after": true }],
    "comma-style": [2, "last", { "exceptions": { "VariableDeclaration": true } }],
    "curly": [2, "multi-line"],
    "dot-notation": [2, { "allowKeywords": true }],
    "eqeqeq": [2, "allow-null"],
    "generator-star-spacing": [2, { "before": false, "after": true }],
    "guard-for-in": 0,
    "handle-callback-err": [2, "err"],
    "indent": [2, 2, { "MemberExpression": 1, "SwitchCase": 1, "VariableDeclarator": 1 }],
    "key-spacing": [2, { "beforeColon": false, "afterColon": true, "mode": "strict" }],
    "keyword-spacing": [2, { "after": true }],
    "new-cap": [2, { "capIsNewExceptions": ["Model", "View", "TROGDOR"] }],
    "no-array-constructor": 2,
    "no-bitwise": 2,
    "no-caller": 2,
    "no-cond-assign": [2, "except-parens"],
    "no-confusing-arrow": [2, { "allowParens": true }],
    "no-const-assign": 2,
    "no-debugger": 2,
    "no-empty": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-implicit-coercion": 2,
    "no-irregular-whitespace": 2,
    "no-iterator": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multiple-empty-lines": [2, { "max": 2 }],
    "no-multi-str": 2,
    "no-new": 2,
    "no-new-object": 2,
    "no-proto": 2,
    "no-script-url": 2,
    "no-sequences": 2,
    "no-shadow": 0,
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-unneeded-ternary": 2,
    "no-unused-vars": [2, { "vars": "all", "args": "none" }],
    "no-whitespace-before-property": 2,
    "no-with": 2,
    "object-curly-spacing": [2, "always"],
    "one-var": [2, "always"],
    "padded-blocks": [2, "never"],
    "quotes": [2, "single", { "allowTemplateLiterals": true, "avoidEscape": true }],
    "semi": [2, "always"],
    "space-before-blocks": 2,
    "space-before-function-paren": [2, "never"],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "space-unary-ops": [2, { "words": true, "nonwords": false }],
    "strict": [2, "global"],
    "valid-typeof": 2,
    "wrap-iife": [2, "inside"]
  }
}
